<div class='shift_forms_up'>

<%= render 'form' %>

<div class='row col-md-8 col-md-offset-2'>
	<div class="text-center links">
		<%= link_to 'Show', @blog %> |
		<%= link_to 'Back', url_for(:back) %>
	</div>
</div>

</div>