<%= render 'photos' %>

<div class='col-md-8 col-md-offset-2'>
<p class='text-center'>Las fotografías de Sttilo Wedding Photography se caracterizan por ser elegantes y creativas y por ofrecer siempre una visión espectacular de un día tan especial como su boda. Esta empresa cuenta con experiencia en el sector cinematográfico y siempre busca la máxima calidad en cada una de sus fotografías. Para vuestro enlace nupcial, esta compañía os brinda variadas técnicas y ediciones para conseguir que el álbum de vuestra boda sea realmente extraordinario.</p>
