<%= render 'photos' %>

<div class='col-md-8 col-md-offset-2 texts'>
<p>
Sttilo somos Juanlu y Joy, dos jóvenes con una visión actual y creativa del mundo audiovisual. Ambos fuimos atrapados por la fotografía y el vídeo y hemos intentado transmitir desde entonces nuestra pasión a las parejas que confían en nuestro trabajo. Nos gusta investigar, viajar, crear y pensar alrededor de nuestros proyectos, la inspiración es un recurso muy valioso que no se puede encontrar en un único lugar, de ahí que necesitemos movernos para estar siempre innovado y descubriendo formas de expresar lo que vemos a través de nuestros ojos.
</p>
<p>
No vemos la fotografía o el vídeo como un instrumento de trabajo, Sttilo es algo que va más allá del simple reportaje de boda, queremos ser parte de tu felicidad y para ello tratamos de contagiarnos con esa misma energía, creando una relación con nuestros clientes que sea fluida, divertida y sincera. Queremos que tu día sea algo especial y la única manera de que eso ocurra es que nosotros estemos completamente inmersos en la felicidad de vuestra celebración.
</p>
</div>