<h1 class='sub-header text-center'>Edit Photo</h1>

<%= render 'form' %>

<div class="text-center">
	<h5 class="sub-header">
<%= link_to 'Show', @photo %> |
<%= link_to 'Back', dashboard_path %>
</h5>
</div>