<h1 class='sub-header text-center'>Add Subpage</h1>

<%= render 'form' %>

<div class='row col-md-8 col-md-offset-2'>
	<div class="text-center links">
		<%= link_to 'Back', url_for(:back) %>
	</div>
</div>